@charset "utf-8";
@import '../../img/images/sprite';
@import '../common/common';

.header-area{
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #027373;

  .inner{
    padding: 22px 20px;
    box-sizing: border-box;
  }
}
